In [11]:
import pandas as pd
import seaborn as sns

In [12]:
data = sns.load_dataset('iris')

In [13]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [14]:
from sklearn import preprocessing

In [23]:
label_encoder = preprocessing.LabelEncoder()

In [16]:
# data['species'] = label_encoder.fit_transform(data['species'])
data['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [17]:
data['species'] = label_encoder.fit_transform(data['species'])
data['species'].unique()

array([0, 1, 2])

In [18]:
x = data.iloc[:,[0,1,2,3]].values
y = data.iloc[:,[4]].values

In [19]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [22]:
xtrain = sc.fit_transform(xtrain)
xtest = sc.fit_transform(xtest)

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr = LogisticRegression()

In [27]:
lr.fit(xtrain, ytrain)

C:\Users\saura\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [30]:
ypred = lr.predict(xtest)

In [31]:
ypred

array([2, 1, 0, 2, 0, 2, 0, 2, 2, 1, 2, 2, 1, 2, 2, 0, 2, 1, 0, 0, 2, 2,
       0, 0, 2, 0, 0, 1, 1, 0])

In [32]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, ypred)
print(cm)

[[11  0  0]
 [ 0  6  7]
 [ 0  0  6]]

In [35]:
from sklearn.metrics import classification_report
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.46      0.63        13
           2       0.46      1.00      0.63         6

    accuracy                           0.77        30
   macro avg       0.82      0.82      0.75        30
weighted avg       0.89      0.77      0.77        30

In [42]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest, ypred)

0.7666666666666667